body {
    width: 100%;
    font-size: 1em;
    
}

#viewport {
    width: 100%;
    
}

#timeline, #login {
    background-image: url('../images/bg.jpg');
    
}

#wrap {
    width: 75%;
    margin: 0 auto;
    background-image: url('../images/darkBg.jpg');    
    
}

.user {
    height: auto;
    width: 80%;
    height: 20%;
    margin: 0 auto;
    color: #fff;
    font-size: 120%;
}

.deed {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 3%;
    word-wrap:break-word;
}

.deedPic {
    
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
}

.userHeadb{
    float:right;
}

.avatar {
    width: 5%;
    margin: 5% 2% 5% 0;
    padding: .5%;
    background-color: #fff;
    vertical-align: middle;
}

.spacer {
    padding: 3%;

}

#formWrap {
    margin: 20% auto;
    width: 60%;
}

.label {
    font-size: 100%;
    
}